@charset "utf-8";
/* CSS Document */


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1536px) {
  .toggle_menu .overlay nav{
    font-size: 30px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1399px) {

  .card_text {
    width: 100%;
    left: 0px;
    min-height: 205px;
  }

  .promo_col .light_read_btn {
    width: 243px;
  }

  .expe_card .expe_box {
    width: 255px;
    min-height: 54px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
  
  p{
    font-size: 12px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 13px;
  }

  .form-floating>label {
    font-size: 12px;
  }

  .social_icon_div p {
    font-size: 10px;
  }

  .expe_div p {
    font-size: 10px !important;
  }

  .nav-link {
    font-size: 12px;
  }

  .blue_btn {
    font-size: 10px;
  }

  .light_read_btn p {
    font-size: 10px;
  }

  .light_read_btn .circle {
    width: 30px;
    height: 30px;
  }

  .round_bg img {
    width: 30px;
  }

  .round_bg {
    padding: 15px;
  }

  .header_logo {
    width: 230px;
  }

  .expe_flex {
    margin-top: -398px;
  }

  .social_icon_bar {
    padding: 200px 20px 137px 20px;
  }

  .carousel-caption {
    left: 10%;
    bottom: 5.25rem;
  }
    
  .carousel-indicators {
    margin-left: 10%;
  }

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

  h2 {
      font-size: 23px;
    }
    
  .promo_col .light_read_btn {
    width: 278px;
  }

  .card_text {
    min-height: 180px;
  }

  .expe_card .expe_box {
    min-height: 39px;
  }

  .contact_col {
    padding: 45px 9px;
  }

  .about_left img {
    width: 280px;
  }

  .about_right{
    height: 530px;
  }
  
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {
  
  .owl_img {
    height: 325px;
  }

  .exp_con {
    background-image: linear-gradient(to left, #ffffff 0%, rgba(0, 0, 0, 0) 0%),
      url(../images/wave_blue_bg.jpg);
  }

  .footer_logo {
    width: 130px;
  }
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .toggle_menu .overlay nav {
    font-size: 22px;
  }

  .header_logo {
    width: 200px;
  }

  .expe_flex {
    margin-top: -106px;
  }

  .expe_flex hr{
    display: none;
  }

  .expe_flex .d-flex {
    flex-direction: row !important;
    gap: 30px;
  }

  .navbar{
    display: none;
  }

  .top_nav{
    gap: 20px !important;
    margin-bottom: 10px;
  }

  .carousel-caption {
    left: 15%;
    bottom: 5.25rem;
    width: 600px !important;
  }

  .carousel-indicators {
    margin-left: 15%;
  }

  .carousel-indicators .active {
    width: 50px !important;
  }

  .carousel-indicators [data-bs-target]{
    width: 22px;    
  }

  .rooms_con {
    margin-top: 130px;
  }

  .promo_col .light_read_btn {
    width: 198px;
  }

  .expe_card .expe_box {
    width: 217px;
    min-height: 49px;
  }

  .md_col_rev{
    flex-direction: column-reverse;
  }

  .inq_row .right_col {
    display: none;
  }

  .food_con {
    background-image: url(../images/ocean_bg.jpg);
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
  .toggle_menu .overlay nav {
    font-size: 18px;
  }
    
  .food_right_div .food_plate {
    margin-left: -8px;
    width: 250px;
  }

  .banner_img {
    height: 290px;
  }

  .contact_box .detail {
    margin-left: 9px;
  }
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {

  h1 {
      font-size: 20px;
    }

  h2 {
    font-size: 17px;
  }

  .top_con{
    margin-right: 40px;
  }

  .about_left{
    display: none;
  }

  .carousel-caption {
    width: 459px !important;
  }

  .about_right {
    height: 300px;
  }

  .half_dark_bg {
    background-image: linear-gradient(to right, #00606C 92%, rgba(0, 0, 0, 0) 20%);
  }

  .wave_line_img {
    position: absolute;
    right: 0px;
    width: 392px;
  }

  .custom_swiper .swiper-slide {
    height: 318px;
  }

  .promo_col {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .promo_col .owl_img {
    height: 410px;
  }

  .promo_col .card_text {
    min-height: 180px;
    left: 38px;
  }

  .food_slider .swiper-slide {
    height: 431px;
  }

  .food_right_div .food_plate {
    margin-left: -8px;
    width: 200px;
  }

  .gallery_l {
    height: 204px;
  }

  .rooms_con {
    background-position: 0px;
  }

  .contact_col {
    padding: 25px 9px;
  }

  .footer_con .right_border {
    border-right: 0px;
  }
  
  .nav-tabs .nav-link{
    font-size: 10px;
  }

    .copyright_row p {
      padding: 4px 0 !important;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
  .toggle_menu .overlay nav{
    font-size: 16px;
  }

  .social_icon_bar {
    padding: 172px 20px 137px 20px;
  }
  
  .top_logo {
    height: 36px;
  }

  .main_navbar {
    padding: 16px 16px;
  }

  .main_search h1 {
    line-height: 50px;
    font-size: 48px;
  }

  .wave_line_img {
    position: absolute;
    right: -12px;
    width: 392px;
  }

  .food_right_div{
    display: none;
  }

  .expe_card .expe_box {
    min-height: 39px;
    width: 246px;
  }

  .gallery_s {
    height: 260px;
    margin-bottom: 10px;
  }

  .gallery_l {
    height: 260px;
    margin-bottom: 10px;
  }

  .half_dark_bg {
    background-image: linear-gradient(to right, #00606C 100%, rgba(0, 0, 0, 0) 20%);
  }

  .promo_col .card_text{
    width: 95%;
    left: 0px;
    min-height: 162px;
  }

  .form_btn_row {
    margin-right: -48px;
    margin-top: 10px;
  }

  .form_btn_row button{
    padding-right: 0;
  }

  .copyright_row p {
    padding: 4px 0 !important;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	

}

@media only screen and (max-width : 460px) {
	

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {
	

	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {


}


@media only screen and (max-width : 320px) {



}

@media only screen and (min-width: 992px) {
    
    
}

@media (min-width: 992px) {
    .aside-left {
      display: block;
    }
  
    .aside-right {
      width: 60%;
    }
  }